<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WinKin | Login</title>
    <!--CSS FILES-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />


</head>

<body class="dashboard-bg ">
    
    <head  th:replace="header :: header"> </head>
    
    
    
    
    
    
    
    
     <footer  th:replace="footer :: footer"> </footer>
    
    
</body>
   
</html>