<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>WinKin | Dash Board</title>
<!--CSS FILES-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />

</head>

<body class="dashboard-bg ">
<head th:replace="header :: header">
</head>

<div ng-app="DashboardApp" ng-controller="MenuListController"
	class="container">
	<div class="row container menu-margin">
		<div class="col-sm" style="margin: 20px" ng-repeat="menu in menulistdata">
			<a th:href="@{app/{{menu.id}}}">
				<div class="row">
					<img  th:src="@{/appicon/{{menu.id}}.png}" class="img-responsive menu-icon  menu-centre"
						alt="{{menu.name}}" />
				</div>
				<div class="row">
					<p class="menu-text menu-centre">{{menu.name}}</p>
				</div>
			</a>
		</div>
	</div>
</div>





<footer th:replace="footer :: footer"> </footer>


<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>



<script th:inline="javascript">
	/*<![CDATA[*/

	var app = angular.module('DashboardApp', []);

	app.controller('MenuListController', function($scope) {
		$scope.menulistdata = /*[[${menulist}]]*/'default';

		console.log($scope.menulistdata);

	});

	/*]]>*/
</script>


</body>

</html>