<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>WinKin | Dash Board</title>
<!--CSS FILES-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />

</head>

<body class="dashboard-bg">
<header th:replace="header :: header">
</header>

<div ng-app="DashboardApp" ng-controller="MenuListController" class="container">
	<div class="dashboard-home">
		<div class="row">
			<div class="col-sm" ng-repeat="menu in menulistdata">			
				<a th:href="@{app/{{menu.id}}}" class="dashboard-group">
					<div  class="dashboard-group-img">
						<img  th:src="@{/appicon/{{menu.id}}.png}" class="img-responsive" alt="{{menu.name}}" />
					</div>
					<div class="dashboard-group-text">
						<p class="dashboard-group-text-inner">{{menu.name}}</p>
					</div>
				</a>
			</div>			
		</div>
	</div>
</div>





<footer th:replace="footer :: footer"> </footer>


<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>



<script th:inline="javascript">
	/*<![CDATA[*/

	var app = angular.module('DashboardApp', []);

	app.controller('MenuListController', function($scope) {
		$scope.menulistdata = /*[[${menulist}]]*/'default';

		console.log($scope.menulistdata);

	});

	/*]]>*/
</script>


</body>

</html>