<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>WinKin | Users &amp; Roles</title>
<!--CSS FILES-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app-home.css}" />

</head>

<body class="dashboard-bg ">
<head th:replace="header :: header">
</head>

<div class="container">
	<div class="row app-menu-strip">

		<div class="dropdown">
			<button class="dropbtn">Users</button>
			<div class="dropdown-content">
				<a href="#">Create User</a>
				<a href="#">Manage User</a>
			</div>
		</div>
		
		<div class="dropdown">
			<button class="dropbtn">User Groups</button>
			<div class="dropdown-content">
				<a href="#">Create Groups</a>
				 <a href="#">Manage Groups</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Roles</button>
			<div class="dropdown-content">
				<a href="#">Manage Role</a> 
				<a href="#">Assign Role</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Deportment's</button>
			<div class="dropdown-content">
				<a href="#">Create Deportment</a>
				 <a href="#">Manage Deportment</a>
			</div>
		</div>

	</div>
</div>

<footer th:replace="footer :: footer"> </footer>


<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>



<script th:inline="javascript">

var userlist = /*[[${userlist}]]*/'default';
var rolelist = /*[[${rolelist}]]*/'default';

console.log(userlist);
console.log(rolelist);
	});


</script>


</body>

</html>