
<!-- Menu List Started -->

	<div class="row app-menu-strip" th:fragment="menu-user-app">

		<div class="dropdown">
			<button class="dropbtn">Users</button>
			<div class="dropdown-content">
				<a href="#">Create User</a>
				<a href="#">Manage User</a>
			</div>
		</div>
		
		<div class="dropdown">
			<button class="dropbtn">User Groups</button>
			<div class="dropdown-content">
				<a href="#">Create Groups</a>
				 <a href="#">Manage Groups</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Roles</button>
			<div class="dropdown-content">
				<a href="#">Manage Role</a> 
				<a href="#">Assign Role</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Deportment's</button>
			<div class="dropdown-content">
				<a href="#">Create Deportment</a>
				 <a href="#">Manage Deportment</a>
			</div>
		</div>

	</div>
	
	<!-- Menu List End -->